body {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  background: #fafafa;
}

.show-mobile {
  display: none;
}

.header {
  background-color: #231d73;
  color: #fff;
}
.header a {
  color: #cecff9;
}
.header a:hover {
  color: #fff;
  transition: 0.3s;
}
.header .header-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header .logo img {
  height: 40px;
  width: auto;
}
.header .menu {
  margin: 0 0 0 20px;
  padding: 0;
  list-style: none;
  display: flex;
}
.header .menu li {
  font-size: 16px;
  padding: 20px 10px;
}
.header .right {
  display: flex;
  margin-left: auto;
}
.header .right .login-button {
  cursor: pointer;
  font-size: 15px;
  padding: 8px 15px;
  color: #231d73;
  background-color: #fff;
  border-radius: 6px;
  font-weight: 700;
}
.header .right .login-button:hover {
  background-color: #44bd32;
  color: #fff;
  transition: 0.3s;
}
.header .right .toggle-button {
  color: #fff;
  padding: 10px 15px;
}

.search {
  background-color: #231d73;
  color: #fff;
  padding: 160px 0px;
  background-image: url("../images/search_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.search h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.search p {
  font-size: 16px;
  color: #cecff9;
}
.search .search-form {
  margin-top: 20px;
}
.search .search-form .d-pr-0 {
  padding-right: 0;
}
.search .search-form .select {
  width: 100%;
}
.search .search-form .ant-select-selection {
  height: 60px;
}
.search .search-form .ant-select-selection__rendered {
  line-height: 58px;
  margin-left: 60px;
}
.search .search-form .select-icon {
  position: absolute;
  color: #aaa;
  z-index: 100;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .search-form .ant-select-lg {
  font-size: 16px;
}
.search .search-form .search-button {
  background-color: #44bd32;
  border: none;
  height: 60px;
  display: flex;
  text-align: center;
  padding: 0 32px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}

section .section-header {
  display: flex;
  justify-content: space-between;
}
section .section-header .title {
  color: #221f1f;
  font-size: 23px;
  font-weight: 600;
}
section .section-header .browse-all {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #44bd32;
  display: flex;
  align-items: center;
  outline: 0;
}
section .section-body {
  margin-top: 20px;
}

.popular-categories {
  background-color: #fff;
  padding: 50px 0;
}
.popular-categories .category {
  cursor: pointer;
  height: 200px;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url("../images/category_bg1.jpg");
  border-radius: 4px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-categories .category .title {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.popular-categories .category .subtitle {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.popular-categories .category svg {
  width: 36px;
  height: 36px;
  margin-bottom: 20px;
}
.popular-categories .category:hover {
  background-image: linear-gradient(to bottom, rgba(35, 29, 115, 0.9) 0%, rgba(35, 29, 115, 0.9) 100%), url("../images/category_bg1.jpg");
  transition: 0.3s;
}

.featured-notices {
  background: #f9f9f9;
  padding: 50px 0;
}
.featured-notices .home-notice {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 30px 20px;
  border-radius: 3px;
  position: relative;
}
.featured-notices .home-notice .image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.featured-notices .home-notice .image img {
  height: 100px;
  width: 100px;
}
.featured-notices .home-notice p {
  padding: 0;
  margin: 0;
  text-align: center;
}
.featured-notices .home-notice .brand {
  font-size: 15px;
  font-weight: 700;
}
.featured-notices .home-notice .brand a {
  color: #44bd32;
}
.featured-notices .home-notice .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.8;
}
.featured-notices .home-notice .title a {
  color: #262626;
}
.featured-notices .home-notice .location {
  color: #aaa;
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.featured-notices .home-notice .location svg {
  margin-right: 5px;
}
.featured-notices .home-notice .show_more {
  margin-top: 15px;
  border: none;
  background-color: #44bd32;
  color: #fff;
  width: 80%;
  padding: 8px 0;
  border-radius: 4px;
  text-align: center;
}
.featured-notices .react-multiple-carousel__arrow {
  outline: 0;
}

footer {
  background: #262626;
}
footer .top {
  padding: 60px 0 40px;
}
footer .top .menu-title {
  padding: 0;
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .top ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .top ul li {
  margin: 0 0 10px;
}
footer .top ul li a {
  color: #9e9e9e;
  font-size: 16px;
}
footer .top ul li a:hover {
  color: #fff;
  transition: 0.2s;
}
footer .top .newsletter p {
  color: #9e9e9e;
  font-size: 16px;
}
footer .top .newsletter .form {
  display: flex;
  margin-top: 20px;
}
footer .top .newsletter .form input {
  background: #1a1a1a;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #ddd;
  font-weight: 600;
  width: calc(100% - 60px);
  padding: 14px 20px;
}
footer .top .newsletter .form input:focus {
  outline: 0;
}
footer .top .newsletter .form input::placeholder {
  color: #666;
}
footer .top .newsletter .form button {
  width: 60px;
  border: none;
  background: #000;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fff;
}
footer .top .newsletter .form button svg {
  width: 16px;
  height: 16px;
}
footer .top .newsletter .form button:focus {
  outline: 0;
}
footer .top .newsletter .social-links {
  margin-top: 20px;
}
footer .top .newsletter .social-links li {
  display: inline-block;
}
footer .top .newsletter .social-links li a {
  margin-right: 10px;
}
footer .top .newsletter .social-links li svg {
  width: 32px;
  height: 32px;
}
footer .bottom {
  background: #1a1a1a;
  padding: 20px 0;
}
footer .bottom .bottom-flex {
  display: flex;
  justify-content: space-between;
  color: #9e9e9e;
}
footer .bottom .bottom-flex p {
  margin: 0;
}
footer .bottom .bottom-flex ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .bottom .bottom-flex ul li {
  display: inline-block;
}
footer .bottom .bottom-flex ul li a {
  color: #9e9e9e;
  margin-left: 20px;
}
footer .bottom .bottom-flex ul li a:hover {
  color: #fff;
  transition: 0.2s;
}
footer .bottom .bottom-flex ul li:first-child {
  margin-left: 0px;
}

.breadscrumb {
  background: #f0f0f0;
}
.breadscrumb .breadscrumb-flex {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.breadscrumb .breadscrumb-flex h2 {
  color: #262626;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.breadscrumb .breadscrumb-flex ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.breadscrumb .breadscrumb-flex ul li {
  font-size: 15px;
  font-weight: 600;
  color: #6a6a6a;
}
.breadscrumb .breadscrumb-flex ul li a {
  color: #6a6a6a;
}
.breadscrumb .breadscrumb-flex ul li a:hover {
  color: #231d73;
  transition: 0.2s;
}
.breadscrumb .breadscrumb-flex ul li.active {
  color: #222;
}
.breadscrumb .breadscrumb-flex ul svg {
  margin: 0 5px;
}

.membership {
  background: #fafafa;
  padding: 35px 0 15px;
}
.membership .card {
  background: #fff;
  padding: 30px;
  margin-bottom: 20px;
}
.membership .card .card-title h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}
.membership .card .card-body {
  margin: 0;
  padding: 0;
}
.membership .card .card-body .input {
  margin-bottom: 15px;
}
.membership .card .card-body .other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.membership .card .card-body .other .forget-password {
  font-size: 14px;
  color: #666;
}
.membership .card .card-body .button {
  background: #44bd32;
  border-color: #44bd32;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.membership .card .card-body .button svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.membership .card .card-body .google-login {
  color: #fff;
  background: #DB4437;
  border-color: #DB4437;
}
.membership .card .card-body .linkedin-login {
  margin-top: 10px;
  color: #fff;
  background: #2867B2;
  border-color: #2867B2;
}

.notices {
  padding: 30px 0;
}
.notices .notice-filter {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
}
.notices .notice-filter .filter {
  margin-bottom: 20px;
}
.notices .notice-filter .filter label {
  font-size: 16px;
  color: #555;
  margin: 0 0 6px 0;
  font-weight: 600;
  width: 100%;
  display: block;
  cursor: pointer;
}
.notices .notice-filter button {
  background-color: #44bd32;
  border-color: #44bd32;
}

.horizontal-notice {
  border-bottom: 1px solid #eee;
  background: #fff;
  padding: 15px 30px;
  display: flex;
  align-items: center;
}
.horizontal-notice .image {
  border-radius: 4px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal-notice .image img {
  width: 75px;
  height: 75px;
}
.horizontal-notice .details .brand {
  display: block;
  color: #44bd32;
  font-size: 14px;
  font-weight: 700;
}
.horizontal-notice .details .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
  color: #262626;
}
.horizontal-notice .details .info {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.horizontal-notice .details .location {
  display: flex;
  align-items: center;
  color: #aaa;
  font-size: 14px;
  padding: 0;
  margin: 5px 0 0 0;
}
.horizontal-notice .details .location svg {
  margin-right: 3px;
}
.horizontal-notice .right {
  margin-left: auto;
}
.horizontal-notice .right .show_more {
  border: none;
  background-color: #231d73;
  color: #fff;
  padding: 12px 40px;
  border-radius: 6px;
  text-align: center;
}

.notice-list {
  background: #fff;
  border-radius: 8px;
}
.notice-list .show-more {
  background: #444;
  border: none;
  color: #fff;
  height: 45px;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}
.notice-list .show-more:focus {
  outline: 0;
}

.notice {
  background: #fff;
}
.notice .details {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #6a6a6a;
  padding: 40px 0;
}
.notice .title {
  font-weight: 600;
  line-height: 1.5;
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}
.notice .right-info {
  padding: 40px 0;
}
.notice .right-info .info-box {
  padding: 25px 25px 10px;
  background: #fafafa;
  border-radius: 4px;
}
.notice .right-info .info-box .notice-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.notice .right-info .info-box .notice-info .icon {
  background: #231d73;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.notice .right-info .info-box .notice-info .icon svg {
  color: #fff;
  width: 24px;
  height: 24px;
}
.notice .right-info .info-box .notice-info .info-title {
  font-size: 16px;
  color: #221f1f;
  font-weight: 600;
}
.notice .right-info .info-box .notice-info .info-desc {
  font-size: 14px;
  color: #666;
}
.notice .top {
  background: #f6f6f6;
  padding: 30px 0;
}
.notice .top .horizontal-notice {
  background: #f6f6f6;
  padding: 0;
}
.notice .top .horizontal-notice .info {
  padding: 0;
  margin: 0;
}
.notice .top .horizontal-notice .image {
  background: #fff;
  padding: 25px;
  border: 1px solid #eee;
}
.notice .top .horizontal-notice .details {
  padding: 0;
}
.notice .top .horizontal-notice .apply-button {
  background: #44bd32;
  padding: 15px 40px;
  color: #fff;
  border-radius: 6px;
}

.student-profile {
  margin-bottom: 25px;
  background: #fff;
  margin-top: 25px;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 30px 35px;
  color: #333;
}
.student-profile .profile-left .photo img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  border: 1px solid #ddd;
}
.student-profile .profile-left .name-info {
  margin-top: 18px;
  text-align: center;
}
.student-profile .profile-left .name-info h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.student-profile .profile-left .name-info .username {
  margin-top: 2px;
}
.student-profile .profile-left .name-info .username a {
  display: inline-block;
  color: #666;
  font-size: 15px;
}
.student-profile .profile-left .social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.student-profile .profile-left .social-links svg {
  width: 22px;
  height: 22px;
  margin: 0 2px;
}
.student-profile .profile-left .social-links .facebook {
  color: #3b5998;
}
.student-profile .profile-left .social-links .twitter {
  color: #1DA1F2;
}
.student-profile .profile-left .social-links .linkedin {
  color: #0e76a8;
}
.student-profile .profile-left .social-links .instagram {
  color: #DD2A7B;
}
.student-profile .profile-left .social-links .github {
  color: #24292e;
}
.student-profile .profile-left .email {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.student-profile .profile-left .email a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-profile .profile-left .email a svg {
  margin-right: 5px;
}
.student-profile .profile-right .tabs {
  margin-left: 10px;
}
.student-profile .profile-right .tabs .ant-tabs-tab {
  margin-right: 10px;
}
.student-profile .profile-right .tabs .ant-tabs-tab-active {
  font-weight: 600;
  color: #231d73;
}
.student-profile .profile-right .tabs .ant-tabs-ink-bar {
  background: #231d73;
}
.student-profile .profile-right .tab-personal .description {
  color: #555;
  font-size: 1.05em;
  line-height: 1.7em;
}
.student-profile .profile-right .tab-personal .description .other-info {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}
.student-profile .profile-right .tab-personal .description .other-info li {
  display: inline-block;
  padding-right: 20px;
  vertical-align: top;
  margin-top: 8px;
  width: 50%;
}
.student-profile .profile-right .tab-personal .description .other-info li b {
  margin-right: 5px;
}
.student-profile .profile-right .list {
  position: relative;
  width: 100%;
}
.student-profile .profile-right .list p {
  padding: 0;
  margin: 0;
}
.student-profile .profile-right .list .title {
  color: #333;
  font-weight: 600;
  font-size: 16px;
}
.student-profile .profile-right .list .title span {
  color: #666;
  font-size: 0.9em;
}
.student-profile .profile-right .list .desc {
  color: #444;
  font-size: 15px;
  margin-top: 3px;
  padding-right: 50px;
}
.student-profile .profile-right .list .years {
  margin-top: 3px;
  color: #666;
  font-size: 13px;
}
.student-profile .profile-right .list .absolute-link {
  position: absolute;
  right: 10px;
  top: 24px;
}
.student-profile .profile-right .list .absolute-link svg {
  width: 24px;
  height: 24px;
}

.company-header {
  background: #fff;
  padding: 18px 0;
}
.company-header .header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-header .header-flex .company-info h1 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  padding: 0;
  margin: 0 0 5px;
}
.company-header .header-flex .company-info h1 svg {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
.company-header .header-flex .company-info p.desc {
  color: #666;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.company-header .header-flex .company-link .website {
  display: flex;
  align-items: center;
}

.company-profile .company-details .ant-card {
  margin-top: 20px;
}
.company-profile .company-details .ant-card .ant-card-body {
  padding: 20px;
}
.company-profile .company-details .google-map {
  width: 100%;
  height: 250px;
}
.company-profile .company-notice-list {
  margin-top: 20px;
}
.company-profile .company-notice-list .ant-card-body {
  padding: 0;
  margin-top: 1px;
}
.company-profile .company-notice-list .horizontal-notice:last-child {
  border: 0;
}

@media (max-width: 576px) {
  .show-mobile {
    display: block;
  }

  .show-desktop {
    display: none !important;
  }

  .header .mobile-menu {
    list-style: none;
    background-color: #111;
    padding: 0;
    margin: 0;
  }
  .header .mobile-menu li a {
    padding: 12px 20px;
    color: #fff;
    display: block;
    font-size: 16px;
  }

  .search {
    padding: 50px 10px;
  }
  .search .search-form .d-pr-0 {
    padding-right: 15px;
    margin-bottom: 10px;
  }
  .search .search-button {
    width: 100%;
    display: block;
  }
  .search .search-button span {
    margin: 0 auto;
  }

  footer .footer-col {
    margin-bottom: 20px;
  }
  footer .bottom .bottom-flex {
    flex-direction: column-reverse;
  }
  footer .bottom .bottom-flex ul {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  footer .bottom .bottom-flex ul li {
    margin-bottom: 6px;
  }
  footer .bottom .bottom-flex ul li a {
    margin: 0 20px 0 0;
  }

  .breadscrumb .breadscrumb-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .breadscrumb .breadscrumb-flex ul {
    margin-top: 5px;
  }

  .notice .top .horizontal-notice {
    flex-direction: column;
    text-align: center;
  }
  .notice .top .horizontal-notice .image {
    margin-right: 0;
  }
  .notice .top .horizontal-notice .details {
    margin-top: 10px;
  }
  .notice .top .horizontal-notice .details .location {
    justify-content: center;
    align-items: center;
  }
  .notice .top .horizontal-notice .right {
    margin: 30px auto 10px;
  }
  .notice .details {
    padding: 30px 10px 0;
  }
  .notice .right-info {
    padding: 20px 10px 30px;
  }

  .notices {
    padding-top: 20px;
  }
  .notices .horizontal-notice .right {
    display: none;
  }
  .notices .notice-filter {
    margin-bottom: 25px;
  }

  .student-profile {
    padding: 25px 10px;
  }
  .student-profile .profile-left .photo {
    display: flex;
    justify-content: center;
  }
  .student-profile .profile-left .photo img {
    width: 150px;
    height: 150px;
  }
  .student-profile .profile-left .email {
    padding: 0 10%;
  }
  .student-profile .profile-left .email a {
    padding: 6px 0;
  }
  .student-profile .profile-right .tabs {
    margin-top: 15px;
  }
  .student-profile .profile-right .description {
    padding: 0 10px;
  }

  .company-header .header-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .company-header .header-flex .company-link {
    margin-top: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
