$header-main: #231d73;
$header-secondary: #44bd32;
$footer-main: #262626;

body{
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

.show-mobile{
  display: none;
}

.header{
  background-color: $header-main;
  color: #fff;
  a{
    color: #cecff9;
  }
  a:hover{
    color: #fff;
    transition: 0.3s;
  }
  .header-container{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .menu{
    margin: 0 0 0 30px;
    padding: 0;
    list-style: none;
    display: flex;
    li{
      font-size: 16px;
      padding: 20px 10px;
    }
  }
  .right{
    display: flex;
    margin-left: auto;
    .login-button{
      cursor: pointer;
      font-size: 15px;
      padding: 8px 15px;
      color: $header-main;
      background-color: #fff;
      border-radius: 6px;
      font-weight: 700;
    }
    .login-button:hover{
      background-color: $header-secondary;
      color: #fff;
      transition: 0.3s;
    }
    .toggle-button{
      color: #fff;
      padding: 10px 15px;
    }
  }
}

.search{
  background-color: $header-main;
  color: #fff;
  padding: 160px 0px;
  background-image: url("../images/search_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  h1{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
  }
  p{
    font-size: 16px;
    color: #cecff9;
  }
  .search-form{
    margin-top: 20px;
    .d-pr-0{
      padding-right: 0;
    }
    .select{
      width: 100%;
    }
    .ant-select-selection{
      height: 60px;
    }
    .ant-select-selection__rendered{
      line-height: 58px;
      margin-left: 60px;
    }
    .select-icon{
      position: absolute;
      color: #bfbfbf;
      z-index: 100;
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ant-select-lg{
      font-size: 16px;
    }
    .search-button{
      background-color: $header-secondary;
      border: none;
      height: 60px;
      display: flex;
      text-align: center;
      padding: 0 32px;
      border-radius: 4px;
      font-weight: 600;
      font-size: 16px;
    }
  }
}

section{
  .section-header{
    display: flex;
    justify-content: space-between;
    .title{
      color: #221f1f;
      font-size: 23px;
      font-weight: 600;
    }
    .browse-all{
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      color: $header-secondary;
      display: flex;
      align-items: center;
      outline: 0;
    }
  }
  .section-body{
    margin-top: 20px;
  }
}

.popular-categories{
  background-color: #fff;
  padding: 50px 0;
  .category{
    cursor: pointer;
    height: 200px;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url("../images/category_bg1.jpg");
    border-radius: 4px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
      color: #fff;
      font-size: 16px;
      font-weight: 400;
    }
    .subtitle{
      color: #fff;
      font-size: 15px;
      font-weight: 400;
    }
    svg{
      width: 36px;
      height: 36px;
      margin-bottom: 20px;
    }
  }
  .category:hover{
    background-image: linear-gradient(to bottom, rgba(35,29,115,0.9) 0%,rgba(35, 29, 115,0.9) 100%), url("../images/category_bg1.jpg");
    transition: 0.3s;
  }
}

.featured-notices{
  background: #f9f9f9;
  padding: 50px 0;

  .home-notice{
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ededed;
    padding: 30px 20px;
    border-radius: 3px;
    position: relative;
    .image{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      img{
        height: 100px;
        width: 100px;
      }
    }
    p{
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .brand{
      font-size: 15px;
      font-weight: 700;
      a{
        color: $header-secondary;
      }
    }
    .title{
      font-size: 18px;
      font-weight: 600;
      line-height: 1.8;
      a{
        color: #262626;
      }
    }
    .location{
      color: #aaa;
      margin-top: 10px;
      font-size: 14px;
      display: flex;
      align-items: center;
      svg{
        margin-right: 5px;
      }
    }
    .show_more{
      margin-top: 15px;
      border: none;
      background-color: $header-secondary;
      color: #fff;
      width: 80%;
      padding: 8px 0;
      border-radius: 4px;
      text-align: center;
    }
  }
  .react-multiple-carousel__arrow{
    outline: 0;
  }
}

footer{
  background: $footer-main;
  .top{
    padding: 60px 0 40px;
    .menu-title{
      padding: 0;
      margin: 0 0 20px 0;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
    }
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        margin: 0 0 10px;
        a{
          color: #9e9e9e;
          font-size: 16px;
        }
        a:hover{
          color: #fff;
          transition: 0.2s;
        }
      }
    }
    .newsletter{
      p{
        color: #9e9e9e;
        font-size: 16px;
      }
      .form{
        display: flex;
        margin-top: 20px;
        input{
          background: #1a1a1a;
          border: none;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          color: #ddd;
          font-weight: 600;
          width: calc(100% - 60px);
          padding: 14px 20px;
        }
        input:focus{
          outline: 0;
        }
        input::placeholder{
          color: #666;
        }
        button{
          width: 60px;
          border: none;
          background: #000;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          color: #fff;
          svg{
            width: 16px;
            height: 16px;
          }
        }
        button:focus{
          outline: 0;
        }
      }
      .social-links{
        margin-top: 20px;
        li{
          display: inline-block;
          a{
            margin-right: 10px;
          }
          svg{
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
  .bottom{
    background: #1a1a1a;
    padding: 20px 0;
    .bottom-flex{
      display: flex;
      justify-content: space-between;
      color: #9e9e9e;
      p{
        margin: 0;
      }
      ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
          display: inline-block;
          a{
            color: #9e9e9e;
            margin-left: 20px;
          }
          a:hover{
            color: #fff;
            transition: 0.2s;
          }
        }
        li:first-child{
          margin-left: 0px;
        }
      }
    }
  }
}

.breadscrumb{
  background: #f0f0f0;
  .breadscrumb-flex {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
      color: #262626;
      font-size: 20px;
      font-weight: 600;
      padding: 0;
      margin: 0;
    }
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      li{
        font-size: 15px;
        font-weight: 600;
        color: #6a6a6a;
        a{
          color: #6a6a6a;
        }
        a:hover{
          color: $header-main;
          transition: 0.2s;
        }
      }
      li.active{
        color: #222;
      }
      svg{
        margin: 0 5px;
      }
    }
  }
}

.membership{
  background: #fafafa;
  padding: 35px 0 15px;
  .card{
    background: #fff;
    padding: 30px;
    margin-bottom: 20px;
    .card-title{
      h3{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 6px;
      }
    }
    .card-body{
      margin: 0;
      padding: 0;
      .input{
        margin-bottom: 15px;
      }
      .other{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .forget-password{
          font-size: 14px;
          color: #666;
        }
      }
      .button{
        background: $header-secondary;
        border-color: $header-secondary;
        height: 50px;
      }
    }
  }
}

.notices{
  background: #fafafa;
  padding: 40px 0;
  .notice-filter{
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    .filter{
      margin-bottom: 20px;
      label{
        font-size: 18px;
        color: #555;
        margin: 0 0 6px 0;
        font-weight: 600;
        width: 100%;
        display: block;
        cursor: pointer;
      }
    }
    button{
      background-color: $header-secondary;
      border-color: $header-secondary;
    }
  }
}

.horizontal-notice{
  border-bottom: 1px solid #eee;
  background: #fff;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  .image{
    border-radius: 4px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 75px;
      height: 75px;
    }
  }
  .details{
    .brand{
      display: block;
      color: $header-secondary;
      font-size: 15px;
      font-weight: 700;
    }
    .title{
      font-size: 18px;
      font-weight: 600;
      line-height: 1.8;
      color: #262626;
    }
    .info-info{
      padding: 0;
      margin: 0;
      font-size: 15px;
    }
    .location{
      display: flex;
      align-items: center;
      color: #aaa;
      font-size: 14px;
      padding: 0;
      margin: 5px 0 0 0;
      svg{
        margin-right: 3px;
      }
    }
  }
  .right{
    margin-left: auto;
    .show_more{
      border: none;
      background-color: $header-main;
      color: #fff;
      padding: 12px 40px;
      border-radius: 6px;
      text-align: center;
    }
  }
}

.notice-list{
  background: #fff;
  border-radius: 8px;
  padding: 20px 0 0 0;

  .show-more{
    margin-top: 20px;
    background: #444;
    border: none;
    color: #fff;
    height: 45px;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: 600;
    font-size: 16px;
  }
  .show-more:focus{
    outline: 0;
  }
}

.notice{
  background: #fff;
  .details{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #6a6a6a;
    padding: 40px 0;
  }
  .title{
    font-weight: 600;
    line-height: 1.5;
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .right-info{
    padding: 40px 0;
    .info-box{
      padding: 25px 25px 10px;
      background: #fafafa;
      border-radius: 4px;
      .notice-info{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .icon{
          background: $header-main;
          border-radius: 8px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 15px;
          svg{
            color: #fff;
            width: 24px;
            height: 24px;
          }
        }
        .info-title{
          font-size: 16px;
          color: #221f1f;
          font-weight: 600;
        }
        .info-desc{
          font-size: 14px;
          color: #666;
        }
      }
    }
  }
  .top{
    background: #f6f6f6;
    padding: 30px 0;
    .horizontal-notice{
      background: #f6f6f6;
      padding: 0;
      .info{
        padding: 0;
        margin: 0;
      }
      .image{
        background: #fff;
        padding: 25px;
        border: 1px solid #eee;
      }
      .details{
        padding: 0;
      }
      .apply-button{
        background: $header-secondary;
        padding: 15px 40px;
        color: #fff;
        border-radius: 6px;
      }
    }
  }
}

@media (max-width: 576px) {
  .show-mobile{
    display: block;
  }
  .show-desktop{
    display: none !important;
  }
  .header{
    .mobile-menu{
      list-style: none;
      background-color: #111;
      padding: 0;
      margin: 0;
      li a{
        padding: 12px 20px;
        color: #fff;
        display: block;
        font-size: 16px;
      }
    }
  }
  .search{
    padding: 50px 10px;
    .search-form{
      .d-pr-0{
        padding-right: 15px;
        margin-bottom: 10px;
      }
    }
    .search-button{
      width: 100%;
      display: block;
      span{
        margin: 0 auto;
      }
    }
  }
  footer{
    .footer-col{
      margin-bottom: 20px;
    }
    .bottom{
      .bottom-flex{
        flex-direction: column-reverse;
        ul{
          margin-top: 5px;
          margin-bottom: 10px;
          li{
            margin-bottom: 6px;
            a{
              margin: 0 20px 0 0;
            }
          }
        }
      }
    }
  }
  .breadscrumb{
    .breadscrumb-flex{
      flex-direction: column;
      align-items: flex-start;
      ul{
        margin-top: 5px;
      }
    }
  }
  .notice{
    .top{
      .horizontal-notice{
        flex-direction: column;
        text-align: center;
        .image{
          margin-right: 0;
        }
        .details{
          margin-top: 10px;
          .location{
            justify-content: center;
            align-items: center;
          }
        }
        .right{
          margin: 30px auto 10px;
        }
      }
    }
    .details{
      padding: 30px 10px 0;
    }
    .right-info{
      padding: 20px 10px 30px;
    }
  }
  .notices{
    padding-top: 20px;
    .horizontal-notice{
      .right{
        display: none;
      }
    }
    .notice-filter{
      margin-bottom: 25px;
    }
  }
}

