body {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

.show-mobile {
  display: none;
}

.header {
  background-color: #231d73;
  color: #fff;
}
.header a {
  color: #cecff9;
}
.header a:hover {
  color: #fff;
  transition: 0.3s;
}
.header .header-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.header .menu {
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;
  display: flex;
}
.header .menu li {
  font-size: 16px;
  padding: 20px 10px;
}
.header .right {
  display: flex;
  margin-left: auto;
}
.header .right .login-button {
  cursor: pointer;
  font-size: 15px;
  padding: 10px 20px;
  color: #231d73;
  background-color: #fff;
  border-radius: 6px;
  font-weight: 700;
}
.header .right .login-button:hover {
  background-color: #44bd32;
  color: #fff;
  transition: 0.3s;
}
.header .right .toggle-button {
  color: #fff;
  padding: 10px 15px;
}

.search {
  background-color: #231d73;
  color: #fff;
  padding: 160px 0px;
  background-image: url("../images/search_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.search h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.search p {
  font-size: 16px;
  color: #cecff9;
}
.search .search-form {
  margin-top: 20px;
}
.search .search-form .d-pr-0 {
  padding-right: 0;
}
.search .search-form .select {
  width: 100%;
}
.search .search-form .ant-select-selection {
  height: 60px;
}
.search .search-form .ant-select-selection__rendered {
  line-height: 58px;
  margin-left: 60px;
}
.search .search-form .select-icon {
  position: absolute;
  color: #bfbfbf;
  z-index: 100;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .search-form .ant-select-lg {
  font-size: 16px;
}
.search .search-form .search-button {
  background-color: #44bd32;
  border: none;
  height: 60px;
  display: flex;
  text-align: center;
  padding: 0 32px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}

.popular-categories {
  background-color: #fff;
  padding: 50px 0;
}
.popular-categories .section-header {
  display: flex;
  justify-content: space-between;
}
.popular-categories .section-header .title {
  color: #221f1f;
  font-size: 23px;
  font-weight: 600;
}
.popular-categories .section-header .browse-all {
  background-color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  color: #44bd32;
  display: flex;
  align-items: center;
  outline: 0;
}
.popular-categories .section-body {
  margin-top: 20px;
}
.popular-categories .section-body .category {
  cursor: pointer;
  height: 200px;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url("../images/category_bg1.jpg");
  border-radius: 4px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-categories .section-body .category .title {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.popular-categories .section-body .category .subtitle {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.popular-categories .section-body .category svg {
  width: 36px;
  height: 36px;
  margin-bottom: 20px;
}
.popular-categories .section-body .category:hover {
  background-image: linear-gradient(to bottom, rgba(35, 29, 115, 0.9) 0%, rgba(35, 29, 115, 0.9) 100%), url("../images/category_bg1.jpg");
  transition: 0.3s;
}

@media (max-width: 576px) {
  .show-mobile {
    display: block;
  }

  .show-desktop {
    display: none !important;
  }

  .header .mobile-menu {
    list-style: none;
    background-color: #111;
    padding: 0;
    margin: 0;
  }
  .header .mobile-menu li a {
    padding: 12px 20px;
    color: #fff;
    display: block;
    font-size: 16px;
  }

  .search {
    padding: 50px 0;
  }
  .search .search-form .d-pr-0 {
    padding-right: 15px;
    margin-bottom: 10px;
  }
  .search .search-button {
    width: 100%;
    text-align: center;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
